.cinema-app {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.cinema-app .cinema-app-header {
  color: white;
  box-sizing: border-box;
}

.cinema-app .cinema-app-searching {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}
